body {
    background: #f7f7f7;
    background-image: url("../img/engeselt_logo.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 50%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.input-group-error .input-group-addon{
    border-color: #dd4b39;
    color: #dd4b39;
}

.input-group-error .form-control{
    border-color: #dd4b39;
    color: #dd4b39;
}

.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.box-login{
    width: 430px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 30px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.2);
    -o-box-shadow: 0 0 30px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 0 30px rgba(0,0,0,0.2);
    z-index: 9;
}

.box-login .box-login-header{
    background: #000;
    color: #fff;
    display: block;
    margin-top: -5%;
}
.box-login .box-login-header .title{
    padding: 10px;
}


.box-login .box-login-body{
    padding: 40px;
}

.box-login .box-login-footer{
    height: 6px;
    background: #000;
}

.btn-link{
    color: #555;
}

.btn-link:hover{
    color: #000;
}
/*
* SKIN PURPLE CUSTOM
*/
.skin-purple-light-pattern .box-login .box-login-footer, .skin-purple-light-pattern .box-login .box-login-header,
.skin-purple-pattern .box-login .box-login-footer, .skin-purple-pattern .box-login .box-login-header{
    background: #605ca8;
}

.skin-purple-light-pattern .box-login .btn-primary, .skin-purple-pattern .box-login .btn-primary{
    background: #605ca8;
    border-color: #605ca8;
}

.skin-purple-light-pattern .box-login .btn-primary:hover, .skin-purple-pattern .box-login .btn-primary:hover{
    background: #524f90;
    border-color: #524f90;
}


/*
* SKIN GREEN CUSTOM
*/
.skin-green-light-pattern .box-login .box-login-footer, .skin-green-light-pattern .box-login .box-login-header,
.skin-green-pattern .box-login .box-login-footer, .skin-green-pattern .box-login .box-login-header{
    background: #00a65a;
}

.skin-green-light-pattern .box-login .btn-primary, .skin-green-pattern .box-login .btn-primary{
    background: #00a65a;
    border-color: #00a65a;
}

.skin-green-light-pattern .box-login .btn-primary:hover, .skin-green-pattern .box-login .btn-primary:hover{
    background: #049251;
    border-color: #049251;
}

/*
* SKIN RED CUSTOM
*/
.skin-red-light-pattern .box-login .box-login-footer, .skin-red-light-pattern .box-login .box-login-header,
.skin-red-pattern .box-login .box-login-footer, .skin-red-pattern .box-login .box-login-header{
    background: #dd4b39;
}

.skin-red-light-pattern .box-login .btn-primary, .skin-red-pattern .box-login .btn-primary{
    background: #dd4b39;
    border-color: #dd4b39;
}

.skin-red-light-pattern .box-login .btn-primary:hover, .skin-red-pattern .box-login .btn-primary:hover{
    background: #d04736;
    border-color: #d04736;
}

/*
* SKIN YELLOW CUSTOM
*/
.skin-yellow-light-pattern .box-login .box-login-footer, .skin-yellow-light-pattern .box-login .box-login-header,
.skin-yellow-pattern .box-login .box-login-footer, .skin-yellow-pattern .box-login .box-login-header{
    background: #f39c12;
}

.skin-yellow-light-pattern .box-login .btn-primary, .skin-yellow-pattern .box-login .btn-primary{
    background: #f39c12;
    border-color: #f39c12;
}

.skin-yellow-light-pattern .box-login .btn-primary:hover, .skin-yellow-pattern .box-login .btn-primary:hover{
    background: #e49313;
    border-color: #e49313;
}


/*
* SKIN BLACK CUSTOM
*/

.skin-black-light-pattern .box-login .box-login-footer, .skin-black-light-pattern .box-login .box-login-header,
.skin-black-pattern .box-login .box-login-footer, .skin-black-pattern .box-login .box-login-header{
    background: #222d32;
}

.skin-black-light-pattern .box-login .btn-primary, .skin-black-pattern .box-login .btn-primary{
    background: #222d32;
    border-color: #222d32;
}

.skin-black-light-pattern .box-login .btn-primary:hover, .skin-black-pattern .box-login .btn-primary:hover{
    background: #161c1f;
    border-color: #161c1f;
}

/*
* SKIN BLUE CUSTOM
*/

.skin-blue-light-pattern .box-login .box-login-footer, .skin-blue-light-pattern .box-login .box-login-header,
.skin-blue-pattern .box-login .box-login-footer, .skin-blue-pattern .box-login .box-login-header{
    background: #3c8dbc;
}


@media screen and (max-width: 768px) {
    .box-login{
        width: 330px;
    }

    .box-login .box-login-header{
        margin-top: -7%;
    }
}
