.list-custom{
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-custom .list-state-default >  .list-custom .list-state-default{
    margin-left: 10px;
    margin-right: 10px;
}

.list-custom .list-state-default {
    margin-bottom: 10px;
    margin-top: 10px;
}

.list-custom .children-sorted-list {
    background: #fff;
    padding: 10px;
    border: 1px solid #efefef;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

/* Cor da td pela skin red*/
.list-custom .children-sorted-list.skin-red, .list-custom .children-sorted-list.skin-red-light{
    border-left: 2px solid #dd4b39;
}

/* Cor da td pela skin green*/
.list-custom .children-sorted-list.skin-green, .list-custom .children-sorted-list.skin-green-light{
    border-left: 2px solid #00a65a;
}

/* Cor da td pela skin purple*/
.list-custom .children-sorted-list.skin-purple, .list-custom .children-sorted-list.skin-purple-light{
    border-left: 2px solid #605ca8;
}

/* Cor da td pela skin yellow*/
.list-custom .children-sorted-list.skin-yellow, .list-custom .children-sorted-list.skin-yellow-light{
    border-left: 2px solid #f39c12;
}

/* Cor da td pela skin black*/
.list-custom .children-sorted-list.skin-black, .list-custom .children-sorted-list.skin-black-light{
    border-left: 2px solid #444;
}
/* Cor da td pela skin blue*/
.list-custom .children-sorted-list.skin-blue, .list-custom .children-sorted-list.skin-blue-light{
    border-left: 2px solid #3c8dbc;
}

.list-custom p{
    margin: 0;
    margin-left: 2%;
}

.list-custom .text{
    font-size: 1.1em;
    font-weight: bold;
}

.tools-complexo{
    margin-top: -7%;
    margin-right: 5px;
}

.title-turbina{
    margin-left: -6% !important;
}

.list-custom .tools-complexo button[aria-expanded="false"] i::before {
    content: '\e257';
    font-family: 'Glyphicons Halflings';

}
.list-custom .tools-complexo button[aria-expanded="true"] i::before {
    content: '\e259';
    font-family: 'Glyphicons Halflings';
}

.list-custom .tools-parque button[aria-expanded="false"] i::before {
    content: '\e257';
    font-family: 'Glyphicons Halflings';

}
.list-custom .tools-parque button[aria-expanded="true"] i::before {
    content: '\e259';
    font-family: 'Glyphicons Halflings';
}

.image-content{
    position: relative;
    z-index: 1;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.image-body{
    width: 100%;
    position: relative;
}

.thumb{
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
}
.image-body img{
    width: 100%;
    height: 30vh;
    filter: blur(1px) grayscale(49%);
}

.image-body img:hover{
    filter: blur(0px) grayscale(0%);
    cursor: pointer;
}

.thumb .description{
    color: #444;
    font-size: 0.8em;
    background: #fff;
    padding-left: 10px;
    padding-top: 3px;
    height: 100%;
}

.box-custom{
    margin: 0 !important;
}

.box-header-custom{
    padding: 4px !important;
}
.box-title-custom{
    margin: 0 !important;
    font-size: 18px !important;
    padding-left: 1%;
    width: 100%;
    font-weight: bold;
}

.box-title-custom img{
    margin-right: 2%;
}

@media screen and (max-width: 768px){
    .thumb{
        width: 100%;
        margin-bottom: 4% !important;
    }

    .tools{
        margin-top: -6%;
    }

    .tools-comp{
        margin-top: -9%;
    }

}

@media screen and (min-width: 769px) {
    .thumb{
        width: 23%;
    }

    .tools{
        margin-top: -2%;
    }

    .tools-comp{
        margin-top: -3%;
    }
}