body{
    background: url('../img/pdf/capa_new_wind.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 140px 40px;
}

@page{
    margin: 0;
    padding: 0;
}
.footer{
    position: fixed;
    left: 50%;
    bottom: 3%;
    color: #000;
    font-size: 0.9em;
}

.page-number:before {
    content: counter(page);
}

/*
* Styles custom PDF
*/

.header{
    width: 100%;
    text-align: center;
    margin-top: -70px;
}

.img-logo{
    width: 120px;
    max-height: 120px;
    position: absolute;
    top: 90px;
    right: 50px;
    display: block;
}

.img-logo-cliente{
    width: 120px;
    max-height: 120px;
    position: absolute;
    top: 65px;
    left: 20px;
    display: block;
}

.description{
    font-size: 1em;
}

/*
* edit table
*/

.table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}
.table tr td{
    padding: 10px;
    font-size: 1em;
    border: 1px solid #dddddd;
}

.table-bordered{
    border: 1px solid #dddddd;
}

.table#table-inspection tbody tr td:nth-child(2n+1) {
    background: #00a65a;
    color: #fff;
    pointer-events: none;
    cursor: default;
}

.description-resumo-inspecao{
    background: #00a65a;
    padding: 10px;
    color: #fff;
}

blockquote{
    margin: 0 20px;
    border: none;
}

.label{
    display: inline;
    font-size: 0.7em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.image-content{
    position: relative;
    width: 100%;
}
.thumb .image-body{
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.image-content .thumb{
    width: 48%;
    float: left;
    padding-left: 15px;
}

.thumb .image-body img{
    width: 100%;
    transform: scale(1.2);
    height: 100%;
}

.thumb .description{
    color: #444;
    font-size: 0.8em;
    padding-left: 4px;
}