body{
    background-color: #ecf0f5;
}

/*
 * Component: Fieldset  Style
 * ----------------
 */

.fieldset-custom{
    background: transparent !important;
    border: 1px solid #d2d6de;
    padding-left: 20px;
    padding-right: 20px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.fieldset-custom legend{
    background: transparent;
    width: auto;
    padding-left: 2%;
    padding-right: 2%;
    border: none;
}

.box-description{
    font-size: 0.7em;
}

.box-header-padding{
    padding: 20px;
}

.img-box{
    max-width: 120px;
    max-height: 100px;
}

.img-box-cliente{
    max-width: 120px;
    max-height: 100px;
}

.pull-center{
    float: none !important;
    margin: 0 auto;
}

/* Table Information Componente*/

tr>td{
    font-size: 0.7em;
}

#modal-historico-componentes> tr>td{
    font-size: 1em;
}


.table#table-informacao tbody tr td:nth-child(2n+1){
    background: #00a65a;
    color: #fff;
    pointer-events: none;
    cursor: default;
}
.box-body{
    font-size: 1.4em
}
/* List Resumo Componente*/
.inspection-list{
    list-style: none;
    padding: 0;
    font-size: 0.8em;
}

.inspection-list ul {
    list-style: none;
    padding-left: 3%;
}

.inspection-list ul li:before{
    content: ' - ';
}

.padding-box{
    padding-left: 5%;
}
/* Navbar Componente*/
.nav-inspection{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    background: #f9fafc;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 270px;
    min-height: 100%;
    box-shadow: -2px -5px 13px rgba(0,0,0,0.1);
    border-left: 1px solid #d4d4d4;
    z-index: 999;
}

.nav-inspection .navbar{
    padding: 0;
    list-style: none;
    overflow-x: none;
    overflow-y: auto;
    max-height: 91vh;
}
/*Styles Scroll*/
.nav-inspection .navbar::-webkit-scrollbar {
    width: 3px;
    background: transparent;
}

.nav-inspection .navbar::-webkit-scrollbar-track {
    background: transparent;
}

.nav-inspection .navbar::-webkit-scrollbar-thumb {
    border-radius: 0;
}
/*
*Pela Cor da Skin
*/
.skin-red-html .nav-inspection .navbar::-webkit-scrollbar-thumb,
.skin-red-light-html .nav-inspection .navbar::-webkit-scrollbar-thumb{
    background: #dd4b39;
}

.skin-yellow-html .nav-inspection .navbar::-webkit-scrollbar-thumb,
.skin-yellow-light-html .nav-inspection .navbar::-webkit-scrollbar-thumb{
    background: #f39c12;
}

.skin-green-html .nav-inspection .navbar::-webkit-scrollbar-thumb,
.skin-green-light-html .nav-inspection .navbar::-webkit-scrollbar-thumb{
    background: #00a65a;
}

.skin-purple-html .nav-inspection .navbar::-webkit-scrollbar-thumb,
.skin-purple-light-html .nav-inspection .navbar::-webkit-scrollbar-thumb{
    background: #605ca8;
}

.skin-black-html .nav-inspection .navbar::-webkit-scrollbar-thumb,
.skin-black-light-html .nav-inspection .navbar::-webkit-scrollbar-thumb{
    background: #1a2226;
}

.skin-blue-html .nav-inspection .navbar::-webkit-scrollbar-thumb,
.skin-blue-light-html .nav-inspection .navbar::-webkit-scrollbar-thumb{
    background: #3c8dbc;
}

.nav-inspection .navbar ul.dropdown-content {
    list-style: none;
    display: none;
    padding: 0;
    background: #f4f4f5;
}
.navbar a{
    display: block;
    padding: 10px;
    color: #444;
}

.navbar li:not(.active) a:hover{
    border-left: 2px solid #00a65a;
    background: #f4f4f5;
    color: #000;
}

.nav-inspection .navbar .navbar-title{
    padding: 5px 10px;
    font-weight: 500;
    color: #444;
}

.navbar .dropdown-content a{
    padding-left: 20px;
}
.nav-inspection .navbar-footer{
    position: absolute;
    bottom: 2%;
    padding-left: 25%;
    padding-top: 4%;
    border-top: 1px solid #ecedef;
    width: 100%;
}
.active{
    color: #000;
    background: #f4f4f5;
    border-left: 2px solid #00a65a;
}
.active > .dropdown .dropdown-content{
    display: block;
}
.show{
    display: block;
}

.navbar-inspection-toggle{
    padding: 10px;
    position: absolute;
    z-index: 999;
    color: #444;
    background: #fff;
    right: 6%;
    top: 2%;
    display: none;
}
/*
*
*Color Comentario e conclusão
*
*/

.color-font{
    background: #00a65a;
    padding: 10px;
    color: #fff;
}

#comentario{
    padding-left: 10px;
}

#conclusao{
    padding-left: 10px;
}

.preview-thumb{
    width: 100%;
}
.preview-thumb .thumb{
    width: 50%;
    padding: 20px;
    float: left;
}
.preview-thumb .thumb .description{
    margin-top: 15px ;
    padding-left: 10px;
    font-size: 0.8em;
}
.preview-thumb .image-contente{
    width: 100%;
    height: 200px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
    padding: 2px;
    text-align: center;
    background: #f6f6f6;
}

.preview-thumb .image-contente img{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.btn-default-no-border{
    background: transparent !important;
    border-color: transparent;
}

.btn-default-no-border:hover, .btn-default-no-border:active, .btn-default-no-border:visited{
    border-color: #ddd;
}

.details-body{
    position: relative;
}

/*Thumb Preview*/
.file-upload-custom{
    position: absolute;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    margin-bottom: 2%;
    min-height: 100%;
    left: 0;
    top: 0;
    padding: 50px;
    border: 1px dashed #444;
    background: rgba(228,228,228,0.4);
    box-sizing: border-box;
}
.file-upload-custom span{
    position: absolute;
    top: 50%;
    left: 15%;
    font-size: 1.2em;
    color: #000;
    font-weight: bold;
}
.file-upload-custom input{
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

blockquote{
    padding: 0px 20px !important;
    border: none;
}
@media screen and (min-width: 769px){
    .width-alert{
        width: 28% !important;
    }
    .close{
        margin-top: 3%;
    }
    .img-box{
        position: absolute;
        top: 0;
        right: 0;
        display: block;
    }
    .img-box-cliente{
        position: absolute;
        top: -6px;
        left: 0;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .img-box{
        margin: 0 auto;
    }
    .img-box-cliente{
        margin: 0 auto;
    }
    .preview-thumb .thumb{
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .nav-inspection{
        display: none;
    }
    .navbar-inspection-toggle{
        display: block;
    }
}

