/*
 * Component: Form Edit
 * ----------------
 */

html::-webkit-scrollbar {
    width: 3px;
    background: transparent;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 0;
}
/*
*Pela Cor da Skin
*/
.skin-red-html::-webkit-scrollbar-thumb,
.skin-red-light-html::-webkit-scrollbar-thumb{
    background: #dd4b39;
}

.skin-yellow-html::-webkit-scrollbar-thumb,
.skin-yellow-light-html::-webkit-scrollbar-thumb{
    background: #f39c12;
}

.skin-green-html::-webkit-scrollbar-thumb,
.skin-green-light-html::-webkit-scrollbar-thumb{
    background: #00a65a;
}

.skin-purple-html::-webkit-scrollbar-thumb,
.skin-purple-light-html::-webkit-scrollbar-thumb{
    background: #605ca8;
}

.skin-black-html::-webkit-scrollbar-thumb,
.skin-black-light-html::-webkit-scrollbar-thumb{
    background: #1a2226;
}

.skin-blue-html::-webkit-scrollbar-thumb,
.skin-blue-light-html::-webkit-scrollbar-thumb{
    background: #3c8dbc;
}

.required:after{
    content: " *";
    color: #d33724 !important;
}

.marginleft{
    margin-left: 2px !important;
}

/*
 * Component: Edit Layout AdminLTE
 * ----------------
 */
/* SKIN RED EDIT */
.skin-red-pattern .bg-aqua, .skin-red-light-pattern .bg-aqua{
    background: #dd4b39 !important;
}
.skin-red-pattern .btn-primary-custom, .skin-red-light-pattern .btn-primary-custom{
    color: #dd4b39;
    border-color: #dd4b39;
}

.skin-red-pattern .btn-primary-custom:hover, .skin-red-light-pattern .btn-primary-custom:hover,
.skin-red-pattern .btn-primary-custom:focus, .skin-red-light-pattern .btn-primary-custom:focus{
    background: #dd4b39 !important;
    color: #fff;
}

.skin-red-pattern .form-control-custom, .skin-red-light-pattern .form-control-custom{
    border-color: #dd4b39;
}
/* SKIN GREEN EDIT */
.skin-green-pattern .bg-aqua, .skin-green-light-pattern .bg-aqua{
    background: #00a65a !important;
}
.skin-green-pattern .btn-primary-custom, .skin-green-light-pattern .btn-primary-custom{
    color: #00a65a;
    border-color: #00a65a;
}

.skin-green-pattern .btn-primary-custom:hover, .skin-green-light-pattern .btn-primary-custom:hover,
.skin-green-pattern .btn-primary-custom:focus, .skin-green-light-pattern .btn-primary-custom:focus{
    background: #00a65a !important;
    color: #fff;
}

.skin-green-pattern .form-control-custom, .skin-green-light-pattern .form-control-custom{
    border-color: #00a65a;
}

/* SKIN PURPLE EDIT */
.skin-purple-pattern .bg-aqua, .skin-purple-light-pattern .bg-aqua{
    background: #605ca8 !important;
}
.skin-purple-pattern .btn-primary-custom, .skin-purple-light-pattern .btn-primary-custom{
    color: #605ca8;
    border-color: #605ca8;
}

.skin-purple-pattern .btn-primary-custom:hover, .skin-purple-light-pattern .btn-primary-custom:hover,
.skin-purple-pattern .btn-primary-custom:focus, .skin-purple-light-pattern .btn-primary-custom:focus{
    background: #605ca8 !important;
    color: #fff;
}

.skin-purple-pattern .form-control-custom, .skin-purple-light-pattern .form-control-custom{
    border-color: #605ca8;
}

/* SKIN Yellow EDIT */
.skin-yellow-pattern .bg-aqua, .skin-yellow-light-pattern .bg-aqua{
    background: #f39c12 !important;
}
.skin-yellow-pattern .btn-primary-custom, .skin-yellow-light-pattern .btn-primary-custom{
    color: #f39c12;
    border-color: #f39c12;
}

.skin-yellow-pattern .btn-primary-custom:hover, .skin-yellow-light-pattern .btn-primary-custom:hover,
.skin-yellow-pattern .btn-primary-custom:focus, .skin-yellow-light-pattern .btn-primary-custom:focus{
    background: #f39c12 !important;
    color: #fff;
}

.skin-yellow-pattern .form-control-custom, .skin-yellow-light-pattern .form-control-custom{
    border-color: #f39c12;
}
/* Edit Espaço entre o texto e o icone*/
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title{
    margin: 1% ;
}
.content-header{
    padding: 1% 1% 0 1% !important;
}

.content{
    padding: 0px !important;
    padding-left: 1% !important;
    padding-right: 1% !important;
}

.page-header{
    margin: 10px 0 0px 0;
}
.main-footer{
    background: #ecf0f5;
    border: none;
}

/*CHECK CUSTOM*/
.container-switch{
    padding-top: 12%;
}
.switch{
    position: relative;
    display: inline-block;
    width: 55px;
    height: 18px;
}

.switch input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a7a2a2;
    -webkit-transition: .4s;
    transition: .4s;
}
.checkbox-toggle{
    margin-left: -15px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    bottom: -2px;
    background-color: #F1F1F1;
    -webkit-transition: .4s;
    transition: .4s;
    right: 35px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
}

input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
    background-color: #00BCD4;
    right: 40px;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked + .slider {
    background-color: rgba(58, 141, 188, .9);
}

input:checked + .slider:before{
    background-color: #3a8dbc !important;
}


.preview-thumb::-webkit-scrollbar {
    width: 3px;
    background: transparent;
}

.preview-thumb::-webkit-scrollbar-track {
    background: transparent;
}

.preview-thumb::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #3c8dbc;
}

.preview-thumb{
    margin: 0px auto;
}

.image-preview-cliente {
    margin: 0 auto;
    max-width: 100%;
    border: aliceblue;
    /*box-shadow: 0px 0px 20px rgba(136, 136, 136, 0.2);*/
    /*background-color: #f7f7f7;*/
    position: relative;
    overflow: hidden;
}

.image-preview-cliente img{
    width: 85%;
}

.image-upload .delete-thumb{
    position: absolute;
    font-size: 1.5em;
    top: 16%;
    color: #e90a0a;
    padding: 5px;
    border-radius: 50%;
    right: 1%;
    margin: auto;
    cursor: pointer;
}
/*END CHECK CUSTOM*/

/* btn custom para ficar background transparente */
.btn-primary-custom,
.btn-success-custom,
.btn-danger-custom,
.btn-warning-custom,
.btn-default-custom,
.btn-primary-custom-no-border,
.btn-danger-custom-no-border,
.btn-warning-custom-no-border,
.btn-success-custom-no-border,
.btn-default-custom-no-border,
.btn-primary-custom-to-color,
.btn-danger-custom-to-color,
.btn-warning-custom-to-color,
.btn-success-custom-to-color,
.btn-default-custom-to-color{
    background-color: transparent !important;
}
/* edit btn primary*/
.btn-primary-custom-no-border {
    color: #999999;
    border: none !important;
}
.btn-primary-custom-no-border:hover,
.btn-primary-custom-no-border:focus{
    color: #367fa9 !important;
}

.btn-primary-custom{
    color: #367fa9;
}
.btn-primary-custom:hover,
.btn-primary-custom:focus{
    background-color: #367fa9 !important;
}

.btn-primary-custom-to-color {
    padding: 1px 4px !important;
    color: #848484;
    border: none !important;
}
.btn-primary-custom-to-color:hover,
.btn-primary-custom-to-color:focus{
    color: #367fa9 !important;
}

/* edit btn Warning*/

.btn-warning-custom-no-border {
    color: #f39c12;
    border: none !important;
}
.btn-warning-custom-no-border:hover,
.btn-warning-custom-no-border:focus{
    background-color: #f39c12 !important;
}
.btn-warning-custom{
    color: #f39c12;
}
.btn-warning-custom:hover,
.btn-warning-custom:focus{
    background-color: #f39c12 !important;
}

.btn-warning-custom-to-color {
    padding: 1px 4px !important;
    color: #848484;
    border: none !important;
}
.btn-warning-custom-to-color:hover,
.btn-warning-custom-to-color:focus {
    background-color: transparent !important;

}
/* edit btn success*/
.btn-success-custom-no-border {
    color: #848484;
    border: none !important;
}
.btn-success-custom-no-border:hover,
.btn-success-custom-no-border:focus{
    color: #008d4c !important;
}


.btn-success-custom{
    color: #008d4c;
}
.btn-success-custom:hover,
.btn-success-custom:focus{
    color: #008d4c !important;
}


/* edit btn default*/
.btn-default-custom-no-border {
    color: #000;
    border: none !important;
}
.btn-default-custom-no-border:hover,
.btn-default-custom-no-border:focus{
    color: #ddd !important;
}

.btn-default-custom{
    color: #000;
}
.btn-default-custom:hover,
.btn-default-custom:focus{
    background-color: #ddd !important;
}

.btn-default-custom-to-color {
    padding: 1px 4px !important;
    color: #848484;
    border: none !important;
}
.btn-default-custom-to-color:hover,
.btn-default-custom-to-color:focus{
    color:#000 !important;
}


/*edit btn danger*/
.btn-danger-custom {
    color: #dd4b39;
}
.btn-danger-custom:hover,
.btn-danger-custom:focus{
    background-color: #dd4b39 !important;
}

.btn-danger-custom-no-border {
    color: #999999;
    border: none !important;
}
.btn-danger-custom-no-border:hover,
.btn-danger-custom-no-border:focus{
    color: #dd4b39 !important;
}

.btn-danger-custom-to-color {
    padding: 1px 4px !important;
    color: #848484;
    border: none !important;
}
.btn-danger-custom-to-color:hover,
.btn-danger-custom-to-color:focus{
    color: #dd4b39 !important;
}


/* edit box title */

.box-title{
    font-size: 1.2em !important;
}

.box-title > .btn{
    color: #000;
}

/*
 * Component: Form Control editado
 * ----------------
 */

.form-control-custom{
    border-color: #367fa9;
}

.form-control-custom::-webkit-input-placeholder {
    color: #9e9e9e;
}
/*
 * Component: Select 2
 * ----------------
 */

span.select2-selection.select2-selection--single {
    border-radius: 0;
    height: 34px;
    border: 1px solid #d2d6de;
    width: 100%;
}

span.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.select2  {
    width: 100% !important;
}

/*
 * Component: alert
 * ----------------
 */
.alert {
    border-radius: 3px;
}
.alert h4 {
    font-weight: 600;
}
.alert .icon {
    margin-right: 10px;
}
.alert .close {
    color: #000;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.alert .close:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.alert a {
    color: #fff;
    text-decoration: underline;
}
.alert-success {
    border-color: #008d4c;
}
.alert-danger,
.alert-error {
    border-color: #d73925;
}
.alert-warning {
    border-color: #e08e0b;
}
.alert-info {
    border-color: #00acd6;
}

#alert {
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 999999;
    cursor: pointer;
    margin: 5px 0px 5px 0px;
    padding: 10px 2px 11px 2px;
    text-align: center;
    display: none;
    font-size: 16px;
}

#alert-modal, #alert-modal2, #alert-modal3{
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 999999;
    cursor: pointer;
    margin: 5px 0px 20px 0px;
    padding: 10px 2px 11px 2px;
    text-align: center;
    display: none;
}

#alert-modal ul, #alert-modal2 ul, #alert-modal3 ul{
    list-style: none;
}

#alert-modal ul li, #alert-modal2 ul li, #alert-modal3 ul li {
    padding: 2px;
}

/*
 * Component: Table List editado de (sistema)
 * ----------------
 */

.table-list{
    color: #000;
}

.table-list:hover{
    color: #4c4c4c;
}

.table-list:hover .info-box-icon i{
    -webkit-animation-name:             zoom-in;
    -webkit-animation-duration:         1s;
    -webkit-animation-iteration-count:   1;
}

@-webkit-keyframes rotate {
    0%  {
        -webkit-transform: rotate(0deg);
    }
    50%{
        -webkit-transform: rotate(60deg);
        -webkit-animation-timing-function: ease-in-out;
    }
    100%{
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes zoom-in {
    0%  {
        -webkit-transform: scale(1);
    }
    50%{
        -webkit-transform: scale(1.6);
        -webkit-animation-timing-function: ease-in-out;
    }
    100%{
        -webkit-transform: scale(1);
    }
}

.custom-input-class{
    font-size: 1em !important;
}

/*
 * Component: Tabela Max heigth
 * ----------------
 */

.table-max-height{
    max-height: 180px;
    overflow-x: hidden;
    overflow-y: auto;
}

.table-max-height::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #ffff;
}

.table-max-height::-webkit-scrollbar
{
    width: 4px;
    background-color: #ffff;
}

.table-max-height::-webkit-scrollbar-thumb
{
    background-color: #367fa9;
}

/*
 * Component: Input File  Style
 * ----------------
 */

.file-upload {
    position: relative;
    overflow: hidden;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    margin-bottom: 2%;
}

.file-upload span{
    font-size: 1.3em;
}

.file-upload span i{
    padding-left: 5px;
}
.file-upload input{
    position: absolute;
    top: -1px;;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.img-preview{
    text-align: center;
    width: auto;
    border: 1px solid #d0cece;
    margin-bottom: 2%;
}

img-preview img{
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;

}.

/*
 * Component: Fieldset  Style
 * ----------------
 */

.fieldset-custom{
    background: transparent !important;
    border: 1px solid #d2d6de;
    padding-left: 20px;
    padding-right: 20px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.fieldset-custom legend{
    background: transparent;
    width: auto;
    padding-left: 2%;
    padding-right: 2%;
    border: none;
}

/*
 * Component: Media Screen
 * ----------------
 */

@media screen and (max-width: 768px){
    /*
     * Component: Pular Linha no mobile
     * ----------------
     */
    .mobile .col-md-1 .input-group, .mobile .col-md-2 .input-group, .mobile .col-md-3 .input-group, .mobile .col-md-4 .input-group,
    .mobile .col-md-5 .input-group, .mobile .col-md-6 .input-group, .mobile .col-md-7 .input-group, .mobile .col-md-8 .input-group,
    .mobile .col-md-9 .input-group, .mobile .col-md-10 .input-group, .mobile .col-md-11 .input-group, .mobile .col-md-12 .input-group
    {
        padding-top: 2%;
    }

    .mobile .col-md-1, .mobile .col-md-2, .mobile .col-md-3, .mobile .col-md-4, .mobile .col-md-5, .mobile .col-md-6,
    .mobile .col-md-7, .mobile .col-md-8, .mobile .col-md-9, .mobile .col-md-10, .mobile .col-md-11, .mobile .col-md-12{
        padding-top: 2%;
    }

    /*
    * Component: AdminLTE
    * ----------------
    */

    /* texto do box */
    .info-box-text{
        position: absolute;
        top: 40%;
        font-size: 1.1em;
    }
}

@media screen and (min-width: 769px) {
    /*
     * Component: Pular Linha no mobile
     * ----------------
     */
    .profile {
        padding-top: 2%;
    }

    /*
     * Component: AdminLTE
     * ----------------
     */
    .content-header > .breadcrumb {
        left: 10px;
    }

    /* texto do box */
    .info-box-text {
        position: absolute;
        top: 32%;
        font-size: 1.1em;
    }

    .sidebar-toggle {
        display: none;
    }

    .web {
        padding-top: 2%;
    }

}


/*
 * Component: Custom  Style tooltip
 * ----------------
 */

.tooltip-inner {
    background-color: #282828 !important;
    color: #fff;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #282828;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #282828;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #282828;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #282828;
}


/**Input PREVIEW */
.input-file-disabled{
    display: none !important;
}

.file-upload-archive{
    /*width: 300px;*/
    width: 100%;
    color: #fff;
    background-color: #367FA9;
    border:solid 1px #2e6da4;
    padding: 7px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.file-upload-archive span{
    font-weight: lighter;
}

.file-upload-archive span i{
    margin-right: 5px;
}

.preview-upload-archive{
    text-align: center;
}

.preview-upload-archive img{
    /*width: 280px;*/
    /*height: 72px;*/
    width: 300px;
    height: 150px;
    margin-top: 10px;
}
/*

    IMAGE PREVIEW MATERIAL CLIENTE

*/
.image-upload{
    max-width: 100%;
    height: 300px;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    border: solid 1px #ccc;
}

.image-upload img{
    max-height: 280px;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.delete-image-cliente:hover{
    cursor: pointer;
    animation-name: rotate;
    animation-duration: 800ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes rotate {
    0%  {-webkit-transform: rotate(0deg);}
    25% {-webkit-transform: rotate(160deg);}
    75% {-webkit-transform: rotate(160deg);}
    100% {-webkit-transform: rotate(0deg);}

}

/*UPLOAD LOGO AREA CONFIGURAÇÃIO DO SISTEMA*/
.image-upload-logo{
    max-width: 100%;
    height: 300px;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    border: solid 1px #ccc;
}

.image-upload-logo .delete-thumb{
    position: absolute;
    font-size: 1.5em;
    top: 16%;
    color: #e90a0a;
    padding: 5px;
    border-radius: 50%;
    right: 1%;
    margin: auto;
    cursor: pointer;
}

.image-upload-logo img{
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 55px;
    max-height: 280px;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.delete-logo:hover{
    cursor: pointer;
    animation-name: rotate;
    animation-duration: 800ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.delete-banner:hover{
    cursor: pointer;
    animation-name: rotate;
    animation-duration: 800ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.image-upload-banner{
    max-width: 100%;
    height: 300px;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    border: solid 1px #ccc;
}


.image-upload-banner .delete-thumb{
    position: absolute;
    font-size: 1.5em;
    top: 16%;
    color: #e90a0a;
    padding: 5px;
    border-radius: 50%;
    right: 1%;
    margin: auto;
    cursor: pointer;
}

.image-upload-banner img{
    max-width: 100%;
    max-height: 280px;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.hoverbutton:hover{
    background-color: #008d4c !important;
}


.image-upload-show img {
    padding: 7px 17px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.image-upload-show {
    max-width: 100%;
    height: 280px;
    /* width: 100%; */
    background-color: #f5f5f5;
    border: solid 1px #ccc;
}

.image-preview-show {
    margin: 0 auto;
    max-width: 100%;
    border: aliceblue;
}

.image-preview-show img{
    width: 100%;
    height: 280px;
}

/*CSS BORDA VISUALIZAR CLIENTE*/
.border-show-cliente{
    border: solid 1px #ccc;
    height: 30px;
    padding: 4px;
}

.name-show{
    margin: 4px;
}
